@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');
:root {
    --width-container: 1169px;

    --color-light: #F5F5F5;
    --color-light-second: #FEFEFE;
    --color-light-grey: #D9D9D9;
    --color-orange: #FF9000;
    --color-dark-l: #4D4D4D;
    --color-dark-d: #2F2F2F;

    --main-font: 'Comfortaa', cursive;
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: var(--main-font);
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark-d) var(--color-light-grey);
}

::-webkit {
    &-scrollbar {
        &-button {
            background-image: url("");
            background-repeat: no-repeat;
            width: 8px;
            height: 0px;
        }
        &-track {
            background-color: var(--color-light-grey);
        }
        &-thumb {
            border-radius: 3px;
            background-color: var(--color-dark-l);
            transition: 0.3s;
        
            &:hover {
                background-color: var(--color-dark-d);
                transition: all 0.3s;
        
                ::-webkit-scrollbar-button {
                    background-image: url("");
                    background-repeat: no-repeat;
                    width: 8px;
                    height: 0px;
                }
        
                ::-webkit-scrollbar-track {
                    background-color: var(--color-light-grey);
                }
        
                ::-webkit-scrollbar-thumb {
                    border-radius: 3px;
                    background-color: var(--color-dark-l);
                    transition: 0.3s;
                }
        
                ::-webkit-scrollbar-thumb:hover {
                    background-color: var(--color-dark-d);
                    transition: all 0.3s;
                }
        
                ::-webkit-resizer {
                    background-image: url("");
                    background-repeat: no-repeat;
                    width: 4px;
                    height: 0px;
                }
        
                ::-webkit-scrollbar {
                    width: 5px;
                }
            }
        }
    }
    &-resizer {
        background-image: url("");
        background-repeat: no-repeat;
        width: 4px;
        height: 0px;
    }
    &-scrollbar {
        width: 5px;
    }
}

.container {
    width: 100%;
    max-width: var(--width-container);
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
        padding: 0 15px;
    }
}

.header {
    position: fixed;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #2F2F2F;
    filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.8));
    background: rgba(0, 0, 0, 0.5);
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__navigate {
        display: flex;
        flex-direction: row;
    }
    &__link {
        text-decoration: none;
        position: relative;
        margin-right: 35px;
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        align-items: center;
        text-align: center;

        color: var(--color-light);
        transition: color .3s ease;
        &::before {
            content: '';
            position: absolute;
            bottom: 0; left: 0;
            height: 1px;
            width: 0%;
            background: var(--color-orange);
            transition: width .3s ease-in-out;
        }
        &:hover {
            color: var(--color-orange);
            &::before {
                width: 100%;
            }
        }

        &.active {
            color: var(--color-orange);
            &::before {
                content: '';
                position: absolute;
                bottom: 0; left: 0;
                height: 1px;
                width: 100%;
                background: var(--color-orange);
                transition: width .3s ease-in-out;
            }
        }
    }
    &__auth-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        &--item {
            text-decoration: none;
            margin-right: 8px;
            display: flex;
            align-items: center;
            font-family: var(--main-font);
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            align-items: center;

            color: var(--color-orange);
        }
    }
}
.preview {
    padding: 244px 0;
    background: url(../images/preview.gif);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__wrapper {
        max-width: 765px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__title {
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 64px;
        line-height: 71px;

        color: var(--color-light);
        span {
            font-weight: 300;
            font-size: 124px;
            line-height: 138px;
            color: var(--color-orange);
        }
    }
    &__description {
        font-weight: 500;
        font-size: 48px;
        line-height: 54px;

        color: var(--color-light);
    }
    &__button {
        cursor: pointer;
        text-decoration: none;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        font-family: var(--main-font);
        font-weight: 300;
        font-size: 24px;
        line-height: 27px;
        border: none;
        background: var(--color-orange);
        filter: opacity(.8);
        color: var(--color-light);
        img {
            margin-left: 8px;
        }
    }
}