@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');
:root {
    --width-container: 1379px;

    --color-light: #F5F5F5;
    --color-light-second: #FEFEFE;
    --color-light-grey: #D9D9D9;
    --color-orange: #FF9000;
    --color-dark-l: #4D4D4D;
    --color-dark-d: #2F2F2F;

    --main-font: 'Comfortaa', cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    font-family: var(--main-font);
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark-d) var(--color-light-grey);
    box-sizing: border-box;
    position: relative;
}

*::-webkit {
    &-scrollbar {
        &-button {
            background-image: url("");
            background-repeat: no-repeat;
            width: 8px;
            height: 0px;
        }
        &-track {
            background-color: var(--color-light-grey);
        }
        &-thumb {
            border-radius: 3px;
            background-color: var(--color-dark-l);
            transition: 0.3s;
        
            &:hover {
                background-color: var(--color-dark-d);
                transition: all 0.3s;
        
                ::-webkit-scrollbar-button {
                    background-image: url("");
                    background-repeat: no-repeat;
                    width: 8px;
                    height: 0px;
                }
        
                ::-webkit-scrollbar-track {
                    background-color: var(--color-light-grey);
                }
        
                ::-webkit-scrollbar-thumb {
                    border-radius: 3px;
                    background-color: var(--color-dark-l);
                    transition: 0.3s;
                }
        
                ::-webkit-scrollbar-thumb:hover {
                    background-color: var(--color-dark-d);
                    transition: all 0.3s;
                }
        
                ::-webkit-resizer {
                    background-image: url("");
                    background-repeat: no-repeat;
                    width: 4px;
                    height: 0px;
                }
        
                ::-webkit-scrollbar {
                    width: 5px;
                }
            }
        }
    }
    &-resizer {
        background-image: url("");
        background-repeat: no-repeat;
        width: 4px;
        height: 0px;
    }
    &-scrollbar {
        width: 5px;
    }
}

.container {
    position: relative;
    width: 100%;
    max-width: var(--width-container);
    margin: 0 auto;
    box-sizing: border-box;
    @media screen and (max-width: 1400px) {
        padding: 0 15px;
    }
}

.mb-1 {
    margin-bottom: 1rem;
}

section {
    padding: 127px 0;
    @media screen and (max-width: 900px) {
        padding: 60px 0;
    }
    @media screen and (max-width: 600px) {
        padding: 30px 0;
    }
}

.header {
    position: fixed;
    /* height: 120px; */
    padding: 35px 0;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #2F2F2F;
    filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.8));
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    @media screen and (max-width: 850px) {
        padding: 20px 0;
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        @media screen and (max-width: 850px) {
            width: 127px;
            height: 26px;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    &__navigate {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 1055px) {
            display: none;
        }
    }
    &__link {
        text-decoration: none;
        position: relative;
        margin-right: 35px;
        font-family: var(--main-font);
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        align-items: center;
        text-align: center;

        color: var(--color-light);
        transition: color .3s ease;
        &::before {
            content: '';
            position: absolute;
            bottom: 0; left: 0;
            height: 1px;
            width: 0%;
            background: var(--color-orange);
            transition: width .3s ease-in-out;
        }
        &:hover {
            color: var(--color-orange);
            &::before {
                width: 100%;
            }
        }

        &.active {
            color: var(--color-orange);
            &::before {
                content: '';
                position: absolute;
                bottom: 0; left: 0;
                height: 1px;
                width: 100%;
                background: var(--color-orange);
                transition: width .3s ease-in-out;
            }
        }
    }
    &__auth-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 1055px) {
            display: none;
        }
        &--item {
            text-decoration: none;
            margin-right: 8px;
            display: flex;
            align-items: center;
            font-family: var(--main-font);
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            align-items: center;

            color: var(--color-orange);
        }
    }
    &__mobile-btn {
        position: relative;
        height: 40px;
        width: 40px;
        margin-right: 20px;
        display: none;
        background: none;
        border: none;
        @media screen and (max-width: 1055px) {
            display: flex;
        }
        span {
            position: absolute;
            top: 50%; left: 50%;
            margin-top: -1px;
            margin-left: -15px;
            height: 2px;
            width: 30px;
            background: var(--color-light);
            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%; left: 50%;
                margin-top: -1px;
                margin-left: -15px;
                height: 2px;
                width: 30px;
                background: var(--color-light);
                transition: transform .3s ease, background .3s ease;
            }
            &::before {
                transform: translateY(-10px);
            }   
            &::after {
                transform: translateY(10px);
            }
        }
        &.active {
            span {
                height: 0;
                background: var(--color-dark-d);
                &::before {
                    transform: rotate(45deg);
                    background: var(--color-dark-d);
                }
                &::after {
                    transform: rotate(-45deg);
                    background: var(--color-dark-d);
                }
            }
        }
    }
    &__mobile {
        &-nav {
            position: absolute;
            top: 0; right: 0;
            display: none;
            height: 100vh;
            width: 100%;
            padding: 15px;
            max-width: 500px;
            flex-direction: column;
            justify-content: space-around;
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
            background: #EDEDED;
            &.visible {
                transform: translateX(0%);
            }
            @media screen and (max-width: 1055px) {
                display: flex;
            }
        }
        &--item {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-orange);
        }
    }
}

.preview {
    padding: 244px 0;
    background: url(../images/preview.gif);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (max-width: 850px) {
        padding: 122px 0;
    }
    &__wrapper {
        max-width: 765px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__title {
        margin-bottom: 55px;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 64px;
        line-height: 71px;

        color: var(--color-light);
        @media screen and (max-width: 850px) {
            line-height: 35px;
            font-size: 32px;
        }
        span {
            font-weight: 300;
            font-size: 124px;
            line-height: 138px;
            color: var(--color-orange);
            @media screen and (max-width: 850px) {
                line-height: 69px;
                font-size: 32px;
            }
        }
    }
    &__description {
        margin-bottom: 55px;
        font-weight: 500;
        font-size: 48px;
        line-height: 54px;

        color: var(--color-light);
        @media screen and (max-width: 850px) {
            line-height: 54px;
            font-size: 32px;
        }
    }
    &__button {
        cursor: pointer;
        text-decoration: none;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        font-family: var(--main-font);
        font-weight: 300;
        font-size: 24px;
        line-height: 27px;
        border: none;
        background: var(--color-orange);
        filter: opacity(.8);
        color: var(--color-light);
        img {
            margin-left: 8px;
        }
        @media screen and (max-width: 850px) {
            justify-content: center;
        }
    }
}

.effectiveness {
    position: relative;
    padding: 0;
    background-image: url(../images/preview.gif);
    background-size: cover;
    object-fit: cover;
    
    background-position: center;
    z-index: 0;
    &::before {
        content: '';
        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;
        background: rgba(254, 254, 254, 0.8);
        z-index: 1;
    }
    &__header {
        position: relative;
        height: 140px;
        display: flex;
        align-items: center;
        background: var(--color-orange);
        color: var(--color-light-second);
        z-index: 3;
    }
    &__wrapper {
        padding: 120px 0;
        display: flex;
        flex-direction: column;
        z-index: 3;
        box-sizing: border-box;
    }
    &__title {
        margin: 0;
                
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 64px;
        line-height: 71px;
        z-index: 3;
        @media screen and (max-width: 850px) {
            line-height: 35px;
            font-size: 32px;
        }
    }
    &__info-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 24px;
        z-index: 3;
        &:nth-child(even) {
            flex-direction: row-reverse;
            @media screen and (max-width: 850px) {
                flex-direction: column;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        @media screen and (max-width: 850px) {
            flex-direction: column;
        }
        &--text,
        &--block {
            flex: 50%;
        }
        &--text {
            font-weight: 400;
            font-size: 24px;
            line-height: 27px;
        }
        &--block {
            display: flex;
            justify-content: center;
        }
        &--big-text {
            position: relative;
            width: 360px;
            height: 240px;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--color-orange);
            z-index: 2;

            font-family: var(--main-font);
            font-weight: 700;
            font-size: 96px;
            line-height: 107px;
            span {
                font-weight: 400;
                font-size: 24px;
                line-height: 27px;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;bottom: 0;left: 0;right: 0;
                background: var(--color-light-second);
                mix-blend-mode: normal;
                filter: blur(50px);
                z-index: -1;
            }
        }
    }
    &__reviews {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        z-index: 2;
        box-sizing: border-box;
        @media screen and (max-width: 850px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__review {
        box-sizing: border-box;
        max-width: 331px;
        min-height: 286px;
        margin-bottom: 15px;
        padding: 12px 34px;
        display: flex;
        flex-direction: column;
        background: rgba(245, 245, 245, 0.8);
        mix-blend-mode: screen;
        @media screen and (max-width: 850px) {
            flex-direction: column;
        }
    }
    &__quotation {
        width: 64px;
        height: 64px;
    }
    &__text {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 17px;
        line-height: 19px;
    }
    &__author {
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
    }
}
.view {
    position: relative;
    background-color: #000;
    background-image: url(../images/anim.gif);
    background-position: left;
    background-size: 1500px 100%;
    background-repeat: no-repeat;
    padding: 127px 0;
    color: var(--color-light);
    &__title {
        max-width: 716px;
        font-weight: 700;
        font-size: 64px;
        line-height: 71px;
        @media screen and (max-width: 850px) {
            font-size: 32px;
            line-height: 35px;
        }
    }
    &__description {
        max-width: 725px;
        font-weight: 400;
        font-size: 24px;
        line-height: 27px;
    }
    button {
        position: absolute;
        bottom: 0; right: 0;
        width: 740px;
        height: 70px;
        padding-right: 15px;
        display: flex;
        justify-content: end;
        align-items: center;
        background: var(--color-orange);
        color: var(--color-light);
        border: none;
        font-weight: 300;
        font-size: 24px;
        line-height: 27px;
        img {
            margin-left: 8px;
            transform: rotate(-90deg);
        }
    }
}
.faq {
    position: relative;
    background: rgba(0, 0, 0, 1);
    background-image: url(../images/anim2.gif);
    background-repeat: no-repeat;
    
    background-size: contain;
    background-position: center;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.8));
    z-index: 0;
    @media screen and (max-width: 550px) {
        background-size: cover;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;
        background: rgba(255, 255, 255, .05);
        z-index: 1;
    }
    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 71px;
        color: var(--color-light);
        text-align: center;
        @media screen and (max-width: 850px) {
            font-size: 32px;
            line-height: 35px;
        }
    }
    &__block {
        position: relative;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        z-index: 2;
    }
    &__question {
        position: relative;
        padding: 25px 0;
        border-top: 1px solid var(--color-orange);
        border-bottom: 1px solid var(--color-orange);
        img {
            content: '';
            
            position: absolute;
            top: 0; bottom: 0; right: 0;
            width: 25px;
            height: 25px;
            margin: auto 0;
            transition: transform .15s ease;
            &.active {
                transform: rotate(45deg);
            }
        }
        &--title {
            font-weight: 400;
            font-size: 24px;
            line-height: 27px;
            color: var(--color-light);
        }
    }
    &__answer {
        margin-top: 20px;
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        overflow: hidden;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.15s ease-out;
        color: var(--color-light);
    }
}
.request {
    /* padding: 120px 0; */
    background-color: rgba(18, 18, 18, 0.95);
    background-image: url(../images/tile.png);
    * {
        box-sizing: border-box;
    }
    &__form {
        padding: 64px 116px;
        display: flex;
        background-color: var(--color-light-grey);
        border-radius: 65px;
        @media screen and (max-width: 480px) {
            padding: 24px 16px;
            border-radius: 33px;
        }
    }
    form {
        display: flex;
        box-sizing: border-box;
        @media screen and (max-width: 900px) {
            flex-wrap: wrap;
        }
    }
    &__left {
        display: flex;
        flex-grow: 3;
        flex-direction: column;
        @media screen and (max-width: 900px) {
            margin-bottom: 20px;
        }
        .form_radio_btn {
            display: inline-block;
        }
        .form_radio_btn input[type=radio] {
            display: none;
        }
        .form_radio_btn label {
            display: inline-block;
            cursor: pointer;
            padding: 0px 15px;
            line-height: 34px;
            border: 1px solid var(--color-orange);
            user-select: none;
        }
         
        /* Checked */
        .form_radio_btn input[type=radio]:checked + label {
            color: var(--color-light);
            background: var(--color-orange);
        }
         
        /* Hover */
        .form_radio_btn label:hover {
            color: var(--color-dark-l);
        }
         
        /* Disabled */
        .form_radio_btn input[type=radio]:disabled + label {
            background: var(--color-light);
            color: var(--color-dark-l);
        }
        .form_row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .form_group {
            display: flex;
            flex-direction: column;
            label {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
            }
            select {
                height: 47px;
                width: 246px;
                font-weight: 400;
                font-size: 15px;
                line-height: 17px;
                color: var(--color-light-grey);
                margin-right: 22px;
            }
            input {
                height: 47px;
                width: 135px;
                margin-right: 22px;
                font-weight: 400;
                font-size: 15px;
                line-height: 17px;
                color: var(--color-light-grey)
            }
        }
    }
    &__right {
        flex-grow: 0.5;
        display: flex;
        flex-direction: column;
        input {
            height: 47px;
            width: 100%;
            padding: 15px;
            margin-bottom: 20px;
            color: #8E9296;
        }
        button {
            height: 47px;
            border: none;
            background: var(--color-orange);
            color: var(--color-light);
        }
        span {
            text-align: right;
            font-weight: 400;
            font-size: 13px;
            line-height: 14px;
        }
    }

    &__title {
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        color: var(--color-dark-d);
    }

    &__description {
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 24px;
        line-height: 27px;
        color: var(--color-dark-l)
    }
}
footer {
    background: var(--color-light);
    h4 {
        color: var(--color-dark-d);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 32px;
    }
    form {
        display: flex;
        flex-direction: column;
        * {
            margin-bottom: 12px;
        }
    }
    input {
        padding: 14px;
        border: none;
        &::placeholder {
            color: #D9D9D9;
        }
        &[type=submit] {
            cursor: pointer;
            color: var(--color-light);
            background: var(--color-orange);
        }
    }
    a, p {
        position: relative;
        cursor: pointer;
        text-decoration: none;
        margin-bottom: 12px;
        color: var(--color-dark-l);
        transition: color .2s ease;
        &::before {
            content: '';
            position: absolute;
            bottom: 0; left: 0;
            height: 1px;
            width: 0%;
            background: var(--color-dark-l);
            transition: width .3s ease-in-out;
        }
        &:hover {
            color: var(--color-orange);
            /* &::before {
                width: 100%;
            } */
        }
    }
    p {
        max-width: 300px;
    }
}
.footer {
    &__wrapper {
        padding: 120px 0;
        display: grid;
        gap: 113px;
        grid-template-areas: 
        "logo nav nav nav"
        ". substr substr request"
        "btn . . request";
        @media screen and (max-width: 1050px) {
            padding: 60px 0;
            gap: 60px;
            grid-template-areas: 
            "logo nav"
            "substr request"
            "btn request";
        }
        @media screen and (max-width: 600px) {
            padding: 30px 0;
            gap: 30px;
            grid-template-areas: 
            "logo"
            "nav"
            "substr" 
            "request";
        }
    }
    &__nav {
        grid-area: nav;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (max-width: 600px) {
            flex-direction: column;
            align-items: center;
        }
        nav {
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 600px) {
                margin-bottom: 20px;
            }
        }
    }
    &__logo {
        grid-area: logo;
        @media screen and (max-width: 600px) {
            justify-self: center;
        }
    }
    &__substract {
        grid-area: substr;
    }
    &__call-request {
        grid-area: request;
    }
    &__copy {
        padding: 59px 269px;
        background-color: var(--color-orange);
        color: var(--color-light);
        @media screen and (max-width: 910px) {
            padding: 59px 134px;
        }
        @media screen and (max-width: 640px) {
            padding: 59px 67px;
        }
        @media screen and (max-width: 505px) {
            padding: 30px 15px;
        }
        a {
            text-decoration: underline;
            color: #F5F5F5;
        }
    }
}
.preview-two {
    position: relative;
    background: url(../images/preview.gif);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    z-index: 0;
    &::before {
        content: '';
        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;
        background: rgba(254, 254, 254, 0.8);
        z-index: 1;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        z-index: 1;
        @media screen and (max-width: 1400px){
            justify-content: center;
        }
    }
    &__big-banner {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 2;
        @media screen and (max-width: 900px) {
            margin-top: 127px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    &__cards {
        margin-top: 64px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        z-index: 2;
        @media screen and (max-width: 1400px){
            justify-content: center;
        }
        &-title {
            position: relative;
            z-index: 2;
            max-width: 450px;
            margin-top: 120px;
            padding: 15px 17px;
            text-align: right;
            font-weight: 300;
            font-size: 36px;
            line-height: 40px;
            background: var(--color-orange);
            color: var(--color-light);
        }
    }
    &__card {
        max-width: 450px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        background: var(--color-light-second);
        transition: background .3s ease-in-out;
        &:hover {
            background: var(--color-dark-d);

            h4, p, .preview-two__card--item {
                color: var(--color-light);
            }
        }
        @media screen and (max-width: 1400px) {
            margin-right: 15px;
            margin-bottom: 15px;
        }
        &--item, h4, p {
            margin-bottom: 25px;
        }
        h4 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: var(--color-dark-d);
            transition: color .3s ease-in-out;
        }
        &--item, p {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: var(--color-dark-l);
            transition: color .3s ease-in-out;
        }
        &--item {
            display: flex;
            img {
                width: 16px;
                height: 16px;
                margin-right: 16px;
            }
        }
    }
}