@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap");
:root {
  --width-container: 1379px;
  --color-light: #F5F5F5;
  --color-light-second: #FEFEFE;
  --color-light-grey: #D9D9D9;
  --color-orange: #FF9000;
  --color-dark-l: #4D4D4D;
  --color-dark-d: #2F2F2F;
  --main-font: "Comfortaa", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  font-family: var(--main-font);
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark-d) var(--color-light-grey);
}

*::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}
*::-webkit-scrollbar-track {
  background-color: var(--color-light-grey);
}
*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--color-dark-l);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark-d);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-track {
  background-color: var(--color-light-grey);
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--color-dark-l);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark-d);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
*::-webkit-scrollbar {
  width: 5px;
}

.container {
  width: 100%;
  max-width: var(--width-container);
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width: 1400px) {
  .container {
    padding: 0 15px;
  }
}

.mb-1 {
  margin-bottom: 1rem;
}

section {
  padding: 127px 0;
}
@media screen and (max-width: 900px) {
  section {
    padding: 60px 0;
  }
}
@media screen and (max-width: 600px) {
  section {
    padding: 30px 0;
  }
}

.header {
  position: fixed;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #2F2F2F;
  filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.8));
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 850px) {
  .header__logo {
    width: 127px;
    height: 26px;
  }
  .header__logo img {
    width: 100%;
    height: auto;
  }
}
.header__navigate {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1055px) {
  .header__navigate {
    display: none;
  }
}
.header__link {
  text-decoration: none;
  position: relative;
  margin-right: 35px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: var(--color-light);
  transition: color 0.3s ease;
}
.header__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background: var(--color-orange);
  transition: width 0.3s ease-in-out;
}
.header__link:hover {
  color: var(--color-orange);
}
.header__link:hover::before {
  width: 100%;
}
.header__link.active {
  color: var(--color-orange);
}
.header__link.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: var(--color-orange);
  transition: width 0.3s ease-in-out;
}
.header__auth-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1055px) {
  .header__auth-menu {
    display: none;
  }
}
.header__auth-menu--item {
  text-decoration: none;
  margin-right: 8px;
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  align-items: center;
  color: var(--color-orange);
}
.header__mobile-btn {
  position: relative;
  height: 40px;
  width: 40px;
  margin-right: 20px;
  display: none;
  background: none;
  border: none;
}
@media screen and (max-width: 1055px) {
  .header__mobile-btn {
    display: flex;
  }
}
.header__mobile-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -15px;
  height: 2px;
  width: 30px;
  background: var(--color-light);
}
.header__mobile-btn span::before, .header__mobile-btn span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -15px;
  height: 2px;
  width: 30px;
  background: var(--color-light);
  transition: transform 0.3s ease, background 0.3s ease;
}
.header__mobile-btn span::before {
  transform: translateY(-10px);
}
.header__mobile-btn span::after {
  transform: translateY(10px);
}
.header__mobile-btn.active span {
  height: 0;
  background: var(--color-dark-d);
}
.header__mobile-btn.active span::before {
  transform: rotate(45deg);
  background: var(--color-dark-d);
}
.header__mobile-btn.active span::after {
  transform: rotate(-45deg);
  background: var(--color-dark-d);
}
.header__mobile-nav {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  height: 100vh;
  width: 100%;
  padding: 15px;
  max-width: 500px;
  flex-direction: column;
  justify-content: space-around;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  background: #EDEDED;
}
.header__mobile-nav.visible {
  transform: translateX(0%);
}
@media screen and (max-width: 1055px) {
  .header__mobile-nav {
    display: flex;
  }
}
.header__mobile--item {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-orange);
}

.preview {
  padding: 244px 0;
  background: url(../images/preview.gif);
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 850px) {
  .preview {
    padding: 122px 0;
  }
}
.preview__wrapper {
  max-width: 765px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.preview__title {
  margin-bottom: 55px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 64px;
  line-height: 71px;
  color: var(--color-light);
}
@media screen and (max-width: 850px) {
  .preview__title {
    line-height: 35px;
    font-size: 32px;
  }
}
.preview__title span {
  font-weight: 300;
  font-size: 124px;
  line-height: 138px;
  color: var(--color-orange);
}
@media screen and (max-width: 850px) {
  .preview__title span {
    line-height: 69px;
    font-size: 32px;
  }
}
.preview__description {
  margin-bottom: 55px;
  font-weight: 500;
  font-size: 48px;
  line-height: 54px;
  color: var(--color-light);
}
@media screen and (max-width: 850px) {
  .preview__description {
    line-height: 54px;
    font-size: 32px;
  }
}
.preview__button {
  cursor: pointer;
  text-decoration: none;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
  border: none;
  background: var(--color-orange);
  filter: opacity(0.8);
  color: var(--color-light);
}
.preview__button img {
  margin-left: 8px;
}
@media screen and (max-width: 850px) {
  .preview__button {
    justify-content: center;
  }
}

.effectiveness {
  position: relative;
  padding: 0;
  background-image: url(../images/preview.gif);
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  z-index: -2;
}
.effectiveness::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(254, 254, 254, 0.8);
  z-index: -1;
}
.effectiveness__header {
  height: 140px;
  display: flex;
  align-items: center;
  background: var(--color-orange);
  color: var(--color-light-second);
  z-index: 1;
}
.effectiveness__wrapper {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  box-sizing: border-box;
}
.effectiveness__title {
  margin: 0;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 64px;
  line-height: 71px;
}
@media screen and (max-width: 850px) {
  .effectiveness__title {
    line-height: 35px;
    font-size: 32px;
  }
}
.effectiveness__info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}
.effectiveness__info-item:nth-child(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 850px) {
  .effectiveness__info-item:nth-child(even) {
    flex-direction: column;
  }
}
.effectiveness__info-item:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 850px) {
  .effectiveness__info-item {
    flex-direction: column;
  }
}
.effectiveness__info-item--text, .effectiveness__info-item--block {
  flex: 50%;
}
.effectiveness__info-item--text {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}
.effectiveness__info-item--block {
  display: flex;
  justify-content: center;
}
.effectiveness__info-item--big-text {
  position: relative;
  width: 360px;
  height: 240px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-orange);
  z-index: 2;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 96px;
  line-height: 107px;
}
.effectiveness__info-item--big-text span {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}
.effectiveness__info-item--big-text::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-light-second);
  mix-blend-mode: normal;
  filter: blur(50px);
  z-index: -1;
}
.effectiveness__reviews {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
  box-sizing: border-box;
}
@media screen and (max-width: 850px) {
  .effectiveness__reviews {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.effectiveness__review {
  box-sizing: border-box;
  max-width: 331px;
  min-height: 286px;
  margin-bottom: 15px;
  padding: 12px 34px;
  display: flex;
  flex-direction: column;
  background: rgba(245, 245, 245, 0.8);
  mix-blend-mode: screen;
}
@media screen and (max-width: 850px) {
  .effectiveness__review {
    flex-direction: column;
  }
}
.effectiveness__quotation {
  width: 64px;
  height: 64px;
}
.effectiveness__text {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 17px;
  line-height: 19px;
}
.effectiveness__author {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
}

.view {
  position: relative;
  background-color: #000;
  background-image: url(../images/anim.gif);
  background-position: left;
  background-size: 1500px 100%;
  background-repeat: no-repeat;
  padding: 127px 0;
  color: var(--color-light);
}
.view__title {
  max-width: 716px;
  font-weight: 700;
  font-size: 64px;
  line-height: 71px;
}
@media screen and (max-width: 850px) {
  .view__title {
    font-size: 32px;
    line-height: 35px;
  }
}
.view__description {
  max-width: 725px;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}
.view button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 740px;
  height: 70px;
  padding-right: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  background: var(--color-orange);
  color: var(--color-light);
  border: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
}
.view button img {
  margin-left: 8px;
  transform: rotate(-90deg);
}

.faq {
  background: rgba(0, 0, 0, 0.795);
  background-image: url(../images/anim2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.8));
}
.faq__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 71px;
  color: var(--color-light);
  text-align: center;
}
@media screen and (max-width: 850px) {
  .faq__title {
    font-size: 32px;
    line-height: 35px;
  }
}
.faq__block {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.faq__question {
  position: relative;
  padding: 25px 0;
  border-top: 1px solid var(--color-orange);
  border-bottom: 1px solid var(--color-orange);
}
.faq__question img {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  margin: auto 0;
  transition: transform 0.15s ease;
}
.faq__question img.active {
  transform: rotate(45deg);
}
.faq__question--title {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: var(--color-light);
}
.faq__answer {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  overflow: hidden;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
  color: var(--color-light);
}

.request {
  /* padding: 120px 0; */
  background-color: rgba(18, 18, 18, 0.95);
  background-image: url(../images/tile.png);
}
.request * {
  box-sizing: border-box;
}
.request__form {
  padding: 64px 116px;
  display: flex;
  background-color: var(--color-light-grey);
  border-radius: 65px;
}
@media screen and (max-width: 480px) {
  .request__form {
    padding: 24px 16px;
    border-radius: 33px;
  }
}
.request form {
  display: flex;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  .request form {
    flex-wrap: wrap;
  }
}
.request__left {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  /* Checked */
  /* Hover */
  /* Disabled */
}
@media screen and (max-width: 900px) {
  .request__left {
    margin-bottom: 20px;
  }
}
.request__left .form_radio_btn {
  display: inline-block;
}
.request__left .form_radio_btn input[type=radio] {
  display: none;
}
.request__left .form_radio_btn label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid var(--color-orange);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.request__left .form_radio_btn input[type=radio]:checked + label {
  color: var(--color-light);
  background: var(--color-orange);
}
.request__left .form_radio_btn label:hover {
  color: var(--color-dark-l);
}
.request__left .form_radio_btn input[type=radio]:disabled + label {
  background: var(--color-light);
  color: var(--color-dark-l);
}
.request__left .form_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.request__left .form_group {
  display: flex;
  flex-direction: column;
}
.request__left .form_group label {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.request__left .form_group select {
  height: 47px;
  width: 246px;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: var(--color-light-grey);
  margin-right: 22px;
}
.request__left .form_group input {
  height: 47px;
  width: 135px;
  margin-right: 22px;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: var(--color-light-grey);
}
.request__right {
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
}
.request__right input {
  height: 47px;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  color: #8E9296;
}
.request__right button {
  height: 47px;
  border: none;
  background: var(--color-orange);
  color: var(--color-light);
}
.request__right span {
  text-align: right;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
}
.request__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--color-dark-d);
}
.request__description {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: var(--color-dark-l);
}

footer {
  background: var(--color-light);
}
footer h4 {
  color: var(--color-dark-d);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 32px;
}
footer form {
  display: flex;
  flex-direction: column;
}
footer form * {
  margin-bottom: 12px;
}
footer input {
  padding: 14px;
  border: none;
}
footer input::-moz-placeholder {
  color: #D9D9D9;
}
footer input:-ms-input-placeholder {
  color: #D9D9D9;
}
footer input::placeholder {
  color: #D9D9D9;
}
footer input[type=submit] {
  color: var(--color-light);
  background: var(--color-orange);
}
footer a, footer p {
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 12px;
  color: var(--color-dark-l);
  transition: color 0.2s ease;
}
footer a:hover, footer p:hover {
  color: var(--color-dark-d);
}
footer p {
  max-width: 300px;
}

.footer__wrapper {
  padding: 120px 0;
  display: grid;
  gap: 113px;
  grid-template-areas: "logo nav nav nav" ". substr substr request" "btn . . request";
}
@media screen and (max-width: 1050px) {
  .footer__wrapper {
    padding: 60px 0;
    gap: 60px;
    grid-template-areas: "logo nav" "substr request" "btn request";
  }
}
@media screen and (max-width: 600px) {
  .footer__wrapper {
    padding: 30px 0;
    gap: 30px;
    grid-template-areas: "logo" "nav" "substr" "request";
  }
}
.footer__nav {
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .footer__nav {
    flex-direction: column;
    align-items: center;
  }
}
.footer__nav nav {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .footer__nav nav {
    margin-bottom: 20px;
  }
}
.footer__logo {
  grid-area: logo;
}
@media screen and (max-width: 600px) {
  .footer__logo {
    justify-self: center;
  }
}
.footer__substract {
  grid-area: substr;
}
.footer__call-request {
  grid-area: request;
}
.footer__copy {
  padding: 59px 269px;
  background-color: var(--color-orange);
  color: var(--color-light);
}
@media screen and (max-width: 910px) {
  .footer__copy {
    padding: 59px 134px;
  }
}
@media screen and (max-width: 640px) {
  .footer__copy {
    padding: 59px 67px;
  }
}
@media screen and (max-width: 505px) {
  .footer__copy {
    padding: 30px 15px;
  }
}
.footer__copy a {
  text-decoration: underline;
  color: #F5F5F5;
}

.preview-two {
  position: relative;
  background-image: url(../images/preview.gif);
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  z-index: -2;
}
.preview-two::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(254, 254, 254, 0.8);
  z-index: -1;
}
.preview-two__wrapper {
  display: flex;
  flex-direction: column;
}
.preview-two__big-banner {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 900px) {
  .preview-two__big-banner {
    margin-top: 127px;
  }
}
.preview-two__big-banner img {
  width: 100%;
  height: auto;
}
.preview-two__cards {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 1400px) {
  .preview-two__cards {
    justify-content: center;
  }
}
.preview-two__card {
  max-width: 450px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background: var(--color-light-second);
}
@media screen and (max-width: 1400px) {
  .preview-two__card {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
.preview-two__card--item, .preview-two__card h4, .preview-two__card p {
  margin-bottom: 25px;
}
.preview-two__card h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-dark-d);
}
.preview-two__card--item, .preview-two__card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-dark-l);
}
.preview-two__card--item {
  display: flex;
}
.preview-two__card--item img {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}