@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&family=Lemon&display=swap");
:root {
  --width-container: 1379px;
  --color-light: #F5F5F5;
  --color-light-second: #FEFEFE;
  --color-light-grey: #D9D9D9;
  --color-orange: #FF9000;
  --color-dark-l: #4D4D4D;
  --color-dark-d: #2F2F2F;
  --list-header: #2224FF;
  --block-header: #00C838;
  --main-font: "Comfortaa", cursive;
  --second-font: "Lemon", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  font-family: var(--main-font);
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark-d) var(--color-light-grey);
  box-sizing: border-box;
  position: relative;
}

*::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}
*::-webkit-scrollbar-track {
  background-color: var(--color-light-grey);
}
*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--color-dark-l);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark-d);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 8px;
  height: 0px;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-track {
  background-color: var(--color-light-grey);
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--color-dark-l);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark-d);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
*::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
*::-webkit-scrollbar {
  width: 5px;
}

.container {
  position: relative;
  width: 100%;
  max-width: var(--width-container);
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width: 1400px) {
  .container {
    padding: 0 15px;
  }
}

.mb-1 {
  margin-bottom: 1rem;
}

section {
  padding: 190px 0;
}
@media screen and (max-width: 900px) {
  section {
    padding: 60px 0;
  }
}
@media screen and (max-width: 600px) {
  section {
    padding: 30px 0;
  }
}

.header {
  position: fixed;
  padding: 35px 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #2F2F2F;
  filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.8));
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
@media screen and (max-width: 850px) {
  .header {
    padding: 20px 0;
  }
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 850px) {
  .header__logo {
    width: 127px;
    height: 26px;
  }
  .header__logo img {
    width: 100%;
    height: auto;
  }
}
.header__navigate {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1055px) {
  .header__navigate {
    display: none;
  }
}
.header__link {
  text-decoration: none;
  position: relative;
  margin-right: 35px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: var(--color-light);
  transition: color 0.3s ease;
}
.header__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background: var(--color-orange);
  transition: width 0.3s ease-in-out;
}
.header__link:hover {
  color: var(--color-orange);
}
.header__link:hover::before {
  width: 100%;
}
.header__link.active {
  color: var(--color-orange);
}
.header__link.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: var(--color-orange);
  transition: width 0.3s ease-in-out;
}
.header__auth-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1055px) {
  .header__auth-menu {
    display: none;
  }
}
.header__auth-menu--item {
  text-decoration: none;
  margin-right: 8px;
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  align-items: center;
  color: var(--color-orange);
}
.header__mobile-btn {
  position: relative;
  height: 40px;
  width: 40px;
  margin-right: 20px;
  display: none;
  background: none;
  border: none;
}
@media screen and (max-width: 1055px) {
  .header__mobile-btn {
    display: flex;
  }
}
.header__mobile-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -15px;
  height: 2px;
  width: 30px;
  background: var(--color-light);
}
.header__mobile-btn span::before, .header__mobile-btn span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -15px;
  height: 2px;
  width: 30px;
  background: var(--color-light);
  transition: transform 0.3s ease, background 0.3s ease;
}
.header__mobile-btn span::before {
  transform: translateY(-10px);
}
.header__mobile-btn span::after {
  transform: translateY(10px);
}
.header__mobile-btn.active span {
  height: 0;
  background: var(--color-dark-d);
}
.header__mobile-btn.active span::before {
  transform: rotate(45deg);
  background: var(--color-dark-d);
}
.header__mobile-btn.active span::after {
  transform: rotate(-45deg);
  background: var(--color-dark-d);
}
.header__mobile-nav {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  height: 100vh;
  width: 100%;
  padding: 15px;
  max-width: 500px;
  flex-direction: column;
  justify-content: space-around;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  background: #EDEDED;
}
.header__mobile-nav.visible {
  transform: translateX(0%);
}
@media screen and (max-width: 1055px) {
  .header__mobile-nav {
    display: flex;
  }
}
.header__mobile--item {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-orange);
}

.preview {
  position: relative;
  padding: 244px 0;
  background: url(../images/preview.gif);
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 850px) {
  .preview {
    padding: 122px 0;
  }
}
.preview__wrapper {
  max-width: 765px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.preview__links {
  position: absolute;
  right: 0;
  top: 35%;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.preview__links a {
  text-decoration: none;
  transform: translateX(65%);
  transition: transform 0.3s ease-in-out;
}
.preview__links a:hover {
  transform: translateX(0);
}
@media screen and (max-width: 480px) {
  .preview__links a img {
    height: 50px;
    width: auto;
  }
}
.preview__title {
  margin-bottom: 55px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 64px;
  line-height: 71px;
  color: var(--color-light);
}
@media screen and (max-width: 850px) {
  .preview__title {
    line-height: 35px;
    font-size: 32px;
  }
}
.preview__title span {
  font-weight: 300;
  font-size: 124px;
  line-height: 138px;
  color: var(--color-orange);
}
@media screen and (max-width: 850px) {
  .preview__title span {
    line-height: 69px;
    font-size: 32px;
  }
}
.preview__description {
  margin-bottom: 55px;
  font-weight: 500;
  font-size: 48px;
  line-height: 54px;
  color: var(--color-light);
}
@media screen and (max-width: 850px) {
  .preview__description {
    line-height: 54px;
    font-size: 32px;
  }
}
.preview__button {
  cursor: pointer;
  text-decoration: none;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
  border: none;
  background: var(--color-orange);
  filter: opacity(0.8);
  color: var(--color-light);
}
.preview__button img {
  margin-left: 8px;
}
@media screen and (max-width: 850px) {
  .preview__button {
    justify-content: center;
  }
}
.preview__button:hover {
  color: #644d00;
}
.preview__button:hover img {
  color: #644d00;
}

.preview-two {
  position: relative;
  background: url(../images/preview.gif);
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  z-index: 0;
}
.preview-two::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(254, 254, 254, 0.8);
  z-index: 1;
}
.preview-two__wrapper {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
@media screen and (max-width: 1400px) {
  .preview-two__wrapper {
    justify-content: center;
  }
}
.preview-two__big-banner {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
}
@media screen and (max-width: 900px) {
  .preview-two__big-banner {
    margin-top: 127px;
  }
}
.preview-two__big-banner--item {
  display: none;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
.preview-two__big-banner--item.invisible {
  display: none;
}
.preview-two__big-banner--item.visible {
  display: block;
}
.preview-two__big-banner--item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.preview-two__cards {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}
@media screen and (max-width: 1400px) {
  .preview-two__cards {
    justify-content: center;
  }
}
.preview-two__cards-title {
  position: relative;
  z-index: 2;
  max-width: 450px;
  margin-top: 120px;
  padding: 15px 17px;
  text-align: right;
  font-weight: 300;
  font-size: 36px;
  line-height: 40px;
  background: var(--color-orange);
  color: var(--color-light);
}
@media screen and (max-width: 375px) {
  .preview-two__cards-title {
    font-size: 28px;
  }
}
.preview-two__card {
  max-width: 450px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background: var(--color-light-second);
  transition: background 0.3s ease-in-out;
}
.preview-two__card:hover {
  background: var(--color-dark-d);
}
.preview-two__card:hover h4, .preview-two__card:hover p, .preview-two__card:hover .preview-two__card--item {
  color: var(--color-light);
}
@media screen and (max-width: 1400px) {
  .preview-two__card {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
.preview-two__card--item, .preview-two__card h4, .preview-two__card p {
  margin-bottom: 25px;
}
.preview-two__card h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-dark-d);
  transition: color 0.3s ease-in-out;
}
.preview-two__card--item, .preview-two__card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-dark-l);
  transition: color 0.3s ease-in-out;
}
.preview-two__card--item {
  display: flex;
}
.preview-two__card--item img {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}
.preview-two__tabs {
  position: relative;
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  z-index: 2;
}
@media screen and (max-width: 800px) {
  .preview-two__tabs {
    flex-wrap: wrap;
  }
}
.preview-two__tab-links {
  width: 218px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .preview-two__tab-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.preview-two__tab-links a {
  padding: 20px 0;
  margin-bottom: 19px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-dark-l);
  background: var(--color-light-grey);
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
.preview-two__tab-links a:last-child {
  margin-bottom: 0;
}
.preview-two__tab-links a.active, .preview-two__tab-links a:hover, .preview-two__tab-links a:checked {
  background: var(--color-light);
  color: var(--color-orange);
}
@media screen and (max-width: 800px) {
  .preview-two__tab-links a {
    flex: auto;
    margin-right: 15px;
  }
  .preview-two__tab-links a:last-child {
    margin-right: 0;
    margin-bottom: 19px;
  }
}
.preview-two__tab-content {
  position: relative;
  flex: auto;
  height: auto;
  margin-left: 15px;
  padding: 35px;
  background: var(--color-light);
}
@media screen and (max-width: 775px) {
  .preview-two__tab-content {
    margin-bottom: 50px;
  }
}
.preview-two__tab-content img {
  width: 100%;
  height: auto;
}
.preview-two__tab-content h1 {
  margin-bottom: 16px;
  color: var(--color-dark-d);
  font-weight: 300;
  font-size: 36px;
  line-height: 40px;
}
.preview-two__tab-content h1 span {
  font-weight: 700;
  color: var(--color-orange);
}
@media screen and (max-width: 425px) {
  .preview-two__tab-content h1 {
    font-size: 24px;
  }
}
.preview-two__tab-content h2 {
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
  color: var(--color-dark-d);
}
.preview-two__tab-content h1, .preview-two__tab-content h2 {
  position: relative;
  z-index: 3;
}
.preview-two__tab-content--left ul::marker {
  color: var(--color-orange);
}
.preview-two__tab-content--right {
  position: relative;
  max-width: 214px;
  width: 100%;
}
.preview-two__tab-content--right img {
  position: relative;
  width: 100%;
  height: auto;
}
.preview-two__tab-content--lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .preview-two__tab-content--lists {
    flex-direction: column;
  }
}
.preview-two__tab-content--lists ul h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: var(--list-header);
  margin-bottom: 7px;
}
.preview-two__tab-content--lists ul li {
  list-style-type: none;
  list-style-image: url(../images/marker.svg);
  margin: 8px 18px;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: var(--color-dark-d);
}
@media screen and (max-width: 800px) {
  .preview-two__tab-content {
    margin-left: 0;
  }
}
.preview-two__tab-content--blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.preview-two__tab-content--block {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  width: 100%;
}
.preview-two__tab-content--block h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: var(--block-header);
  margin-bottom: 16px;
}
.preview-two__tab-content--block p {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: var(--color-dark-d);
  text-align: justify;
}
@media screen and (max-width: 355px) {
  .preview-two__tab-content--block p {
    font-size: 16px;
  }
}
.preview-two .faq__title {
  margin-top: 60px;
  margin-bottom: 24px;
  z-index: 2;
  color: var(--color-dark-l);
}
.preview-two .faq__block {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
}
.preview-two .faq__question--title {
  color: var(--color-dark-d);
}
.preview-two .faq__answer {
  color: var(--color-dark-d);
}
.preview-two h2 {
  margin-top: 60px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--color-dark-l);
  z-index: 2;
}
.preview-two .carusel {
  cursor: pointer;
  width: 100%;
  margin-top: 16px;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: pan-y;
  overflow: hidden;
}
.preview-two .carusel img {
  pointer-events: none;
}
.preview-two .carusel__list {
  width: 100%;
  overflow: hidden;
}
.preview-two .carusel__list.grab {
  cursor: -webkit-grab;
  cursor: grab;
}
.preview-two .carusel__list.grabing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.preview-two .carusel__track {
  display: flex;
}
.preview-two .carusel__card {
  position: relative;
  max-width: 335px;
  width: 100%;
  height: 335px;
  display: inline-flex;
  flex-shrink: 0;
  margin-right: 15px;
  padding: 7px;
  border: 1px solid var(--color-orange);
  border-radius: 24px;
  z-index: 2;
}
.preview-two .carusel__card--bg {
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: 2;
}
.preview-two .carusel__card--bg img {
  width: 100%;
  height: auto;
}
.preview-two .carusel__card--content {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 16px 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  color: var(--color-light-second);
  z-index: 3;
}
.preview-two .carusel__card--content * {
  margin-bottom: 5px;
}
.preview-two .carusel__card--content h4 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
.preview-two .carusel__card--content p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.preview-two .carusel__card--content a {
  text-decoration: none;
  color: var(--color-light-second);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 4px 13px;
  border: 1px solid var(--color-orange);
  border-radius: 20px;
  margin-left: auto;
  margin-right: 0;
}
.preview-two button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 740px;
  height: 70px;
  padding-right: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  background: var(--color-orange);
  color: var(--color-light);
  border: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
  z-index: 2;
}
.preview-two button img {
  margin-left: 20px;
  transform: rotate(-90deg);
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.search {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search h2 {
  margin-top: 24px;
  text-align: center;
  color: var(--color-dark-d);
  font-weight: 300;
  font-size: 48px;
  line-height: 54px;
}
@media screen and (max-width: 900px) {
  .search h2 {
    font-size: 32px;
  }
}
.search h3 {
  text-align: center;
}
.search form {
  width: 100%;
  max-width: 680px;
  margin-top: 36px;
  display: flex;
  justify-content: center;
}
.search form input {
  width: 100%;
  border: 1px solid var(--color-orange);
  padding: 19px;
  background: none;
}
.search form input::-moz-placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
}
.search form input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
}
.search form input::placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
}
@media screen and (max-width: 900px) {
  .search form {
    margin-bottom: 50px;
  }
}

.effectiveness {
  position: relative;
  padding: 0;
  background-image: url(../images/preview.gif);
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  z-index: 0;
}
.effectiveness::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(254, 254, 254, 0.8);
  z-index: 1;
}
.effectiveness__header {
  position: relative;
  height: 140px;
  display: flex;
  align-items: center;
  background: var(--color-orange);
  color: var(--color-light-second);
  z-index: 3;
}
.effectiveness__wrapper {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  z-index: 3;
  box-sizing: border-box;
}
.effectiveness__title {
  margin: 0;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 64px;
  line-height: 71px;
  z-index: 3;
}
@media screen and (max-width: 850px) {
  .effectiveness__title {
    line-height: 35px;
    font-size: 32px;
  }
}
.effectiveness__info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
  z-index: 3;
}
.effectiveness__info-item:nth-child(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 850px) {
  .effectiveness__info-item:nth-child(even) {
    flex-direction: column;
  }
}
.effectiveness__info-item:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 850px) {
  .effectiveness__info-item {
    flex-direction: column;
  }
}
.effectiveness__info-item--text, .effectiveness__info-item--block {
  flex: 50%;
}
.effectiveness__info-item--text {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}
.effectiveness__info-item--block {
  display: flex;
  justify-content: center;
}
.effectiveness__info-item--big-text {
  position: relative;
  width: 360px;
  height: 240px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-orange);
  z-index: 2;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 96px;
  line-height: 107px;
}
.effectiveness__info-item--big-text span {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}
.effectiveness__info-item--big-text::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-light-second);
  mix-blend-mode: normal;
  filter: blur(50px);
  z-index: -1;
}
.effectiveness__reviews {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
  box-sizing: border-box;
}
@media screen and (max-width: 850px) {
  .effectiveness__reviews {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.effectiveness__review {
  box-sizing: border-box;
  max-width: 331px;
  min-height: 286px;
  margin-bottom: 15px;
  padding: 12px 34px;
  display: flex;
  flex-direction: column;
  background: rgba(245, 245, 245, 0.8);
  mix-blend-mode: screen;
}
@media screen and (max-width: 850px) {
  .effectiveness__review {
    flex-direction: column;
  }
}
.effectiveness__quotation {
  width: 64px;
  height: 64px;
}
.effectiveness__text {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 17px;
  line-height: 19px;
}
.effectiveness__author {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
}

.view {
  position: relative;
  background-color: #000;
  background-image: url(../images/anim.gif);
  background-position: left;
  background-size: 1500px 100%;
  background-repeat: no-repeat;
  padding: 127px 0;
  color: var(--color-light);
}
.view__title {
  max-width: 716px;
  font-weight: 700;
  font-size: 64px;
  line-height: 71px;
}
@media screen and (max-width: 850px) {
  .view__title {
    font-size: 32px;
    line-height: 35px;
  }
}
.view__description {
  max-width: 725px;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}
.view button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 740px;
  height: 70px;
  padding-right: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  background: var(--color-orange);
  color: var(--color-light);
  border: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
}
.view button img {
  margin-left: 8px;
  transform: rotate(-90deg);
}

.faq {
  position: relative;
  background: rgb(0, 0, 0);
  background-image: url(../images/anim2.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.8));
  z-index: 0;
}
@media screen and (max-width: 550px) {
  .faq {
    background-size: cover;
  }
}
.faq::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.05);
  z-index: 1;
}
.faq__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 71px;
  color: var(--color-light);
  text-align: center;
}
@media screen and (max-width: 850px) {
  .faq__title {
    font-size: 32px;
    line-height: 35px;
  }
}
.faq__block {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.faq__block a {
  margin-top: 48px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: #6466FF;
}
.faq__question {
  position: relative;
  padding: 25px 0;
  border-top: 1px solid var(--color-orange);
  border-bottom: 1px solid var(--color-orange);
}
.faq__question img {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  margin: auto 0;
  transition: transform 0.15s ease;
}
.faq__question img.active {
  transform: rotate(45deg);
}
.faq__question--title {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: var(--color-light);
}
@media screen and (max-width: 425px) {
  .faq__question--title {
    font-size: 20px;
  }
}
.faq__answer {
  font-weight: 400;
  padding-right: 25px;
  font-size: 20px;
  line-height: 22px;
  overflow: hidden;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
  color: var(--color-light);
}
.faq__answer ul {
  margin-top: 15px;
}
.faq__answer ul li {
  display: list-item;
  margin-left: 20px;
}
.faq__answer ul li::marker {
  color: var(--color-orange);
  font-size: 1.2rem;
}

.request {
  background-color: rgba(18, 18, 18, 0.95);
  background-image: url(../images/tile.png);
}
.request * {
  box-sizing: border-box;
}
.request__form {
  padding: 64px 116px;
  display: flex;
  background-color: var(--color-light-grey);
  border-radius: 65px;
}
@media screen and (max-width: 480px) {
  .request__form {
    padding: 24px 16px;
    border-radius: 33px;
  }
}
.request form {
  display: flex;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  .request form {
    flex-wrap: wrap;
  }
}
.request__left {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  /* Checked */
  /* Hover */
  /* Disabled */
}
@media screen and (max-width: 900px) {
  .request__left {
    margin-bottom: 20px;
  }
}
.request__left .form_radio_btn {
  display: inline-block;
}
.request__left .form_radio_btn input[type=radio] {
  display: none;
}
.request__left .form_radio_btn label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid var(--color-orange);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.request__left .form_radio_btn input[type=radio]:checked + label {
  color: var(--color-light);
  background: var(--color-orange);
}
.request__left .form_radio_btn label:hover {
  color: var(--color-dark-l);
}
.request__left .form_radio_btn input[type=radio]:disabled + label {
  background: var(--color-light);
  color: var(--color-dark-l);
}
.request__left .form_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.request__left .form_group {
  display: flex;
  flex-direction: column;
}
.request__left .form_group label {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.request__left .form_group select {
  height: 47px;
  width: 246px;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: var(--color-light-grey);
  margin-right: 22px;
}
.request__left .form_group input {
  height: 47px;
  width: 135px;
  margin-right: 22px;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: var(--color-light-grey);
}
.request__right {
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
}
.request__right input {
  height: 47px;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  color: #8E9296;
}
.request__right button {
  height: 47px;
  border: none;
  background: var(--color-orange);
  color: var(--color-light);
}
.request__right span {
  text-align: right;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
}
.request__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--color-dark-d);
}
.request__description {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: var(--color-dark-l);
}

footer {
  background: var(--color-light);
}
footer h4 {
  color: var(--color-dark-d);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 32px;
}
footer form {
  display: flex;
  flex-direction: column;
}
footer form * {
  margin-bottom: 12px;
}
footer input {
  padding: 14px;
  border: none;
}
footer input::-moz-placeholder {
  color: #D9D9D9;
}
footer input:-ms-input-placeholder {
  color: #D9D9D9;
}
footer input::placeholder {
  color: #D9D9D9;
}
footer input[type=submit] {
  cursor: pointer;
  color: var(--color-light);
  background: var(--color-orange);
}
footer a, footer p {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 12px;
  color: var(--color-dark-l);
  transition: color 0.2s ease;
}
footer a::before, footer p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background: var(--color-dark-l);
  transition: width 0.3s ease-in-out;
}
footer a:hover, footer p:hover {
  color: var(--color-orange);
  /* &::before {
      width: 100%;
  } */
}
footer p {
  max-width: 300px;
}

.footer__wrapper {
  padding: 120px 0;
  display: grid;
  gap: 113px;
  grid-template-areas: "logo nav nav nav" ". substr substr request" "btn . . request";
}
@media screen and (max-width: 1050px) {
  .footer__wrapper {
    padding: 60px 0;
    gap: 60px;
    grid-template-areas: "logo nav" "substr request" "btn request";
  }
}
@media screen and (max-width: 600px) {
  .footer__wrapper {
    padding: 30px 0;
    gap: 30px;
    grid-template-areas: "logo" "nav" "substr" "request";
  }
}
.footer__nav {
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .footer__nav {
    flex-direction: column;
    align-items: center;
  }
}
.footer__nav nav {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .footer__nav nav {
    margin-bottom: 20px;
  }
}
.footer__logo {
  grid-area: logo;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .footer__logo {
    justify-self: center;
  }
}
.footer__logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 160px;
  margin-top: 21px;
  margin-bottom: 0;
  padding: 13px 0;
  border: 2px solid #000000;
  border-radius: 16px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.footer__logo a img {
  margin-right: 10px;
}
.footer__substract {
  grid-area: substr;
}
.footer__call-request {
  grid-area: request;
}
.footer__copy {
  padding: 59px 269px;
  background-color: var(--color-orange);
  color: var(--color-light);
}
@media screen and (max-width: 910px) {
  .footer__copy {
    padding: 59px 134px;
  }
}
@media screen and (max-width: 640px) {
  .footer__copy {
    padding: 59px 67px;
  }
}
@media screen and (max-width: 505px) {
  .footer__copy {
    padding: 30px 15px;
  }
}
.footer__copy a {
  text-decoration: underline;
  color: #F5F5F5;
}